/* специфичность  = 1 */
p {
    /* color: blue;
            color: rgba(50, 15, 255,);
            color: rgba(50, 15, 255, 0.8); */
    /* A = 10
            B = 11
            C = 12
            D = 13
            E = 14
            F = 15 

            FF = 15 * 16^1 + 15 * 16^0
            */
    color: #0000ff;
    font-size: 24px;
}

/* специфичность  = 10 */
.text {
    color: red;
}

.text2 {
    color: purple;
}

/* специфичность  = 100 */
#text {
    color: green;
}