* {
    /* учитываем рамку и внутренний отступ в ширину и высоту блока */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.html {
    font-family: 'Roboto', sans-serif;
}

/* специфичность  = 1 */
p {
    /*цвет текста*/
    /* color: #0000ff; */

    /*размер шрифта*/
    font-size: 24px;
}

.article {
    /* превращаем span в строчно-блочный элемент */
    display: inline-block;

    /* превращаем span в блочный элемент */
    /* display: block; */

    /* превращаем span в строчный элемент */
    /* display: inline; */

    /* ширина блока */
    /* width: 500px; */

    /* минимальная ширина блока */
    min-width: 300px;

    /* максимальная ширина блока */
    max-width: 500px;

    /* высота блока */
    height: 700px;

    /* внутренний отступ */
    /* padding: 100px; */

    /* top, right, bottom left */
    /* padding: 30px 60px 90px 120px; */

    /* верхний внутренний отступ */
    /* padding-top: 30px; */

    /* правый внутренний отступ */
    /* padding-right: 60px; */

    /* нижний внутренний отступ */
    /* padding-bottom: 90px; */

    /* левый внутренний отступ */
    /* padding-left: 120px; */

    /* верх,горизонталь */
    /* padding: 30px 60px; */

    /* верх, горизонталь, низ */
    padding: 10px 20px 30px;

    /* цвет рамки */
    border: 20px solid green;

    /* ширина левой рамки */
    /* border-left-width: 0;  */

    /* левая рамка */
    /* border-left: 20px dotted red; */

    /* нижняя рамка */
    border-bottom-color: yellow;

    /* внешний отступ */
    /* margin: 10px; */

    /* верхний внешний отступ */
    /* margin-top: 10px; */

    /* top, right, bottom, left */
    margin: 0 0 10px 0;

    font-size: 30px;
    background-color: #333333;
    color: #ffffff;

}

/* специфичность  = 10 */
.article-text {
    /*цвет заливки*/
    /* background-color: #333333; */

    /*цвет текста*/
    /* color: red; */

    /*межстрочный интервал*/
    line-height: 1.5;

    /*размер шрифта*/
    /* font-size: 30px; */

    /*жирность шрифта*/
    font-weight: bold;

    /*курсив*/
    font-style: italic;

    /*семейство шрифтов*/
    font-family: 'Times New Roman', Arial', Roboto', sans-serif;

    /* выравнивание текста по ширине */
    text-align: justify;

    /* преобразование текста в верхний регистр */
    text-transform: uppercase;

    /* подчеркивание */
    /* text-decoration: underline; */

    /* shorthand для text-decoration */
    /* text-decoration: underline wavy #ff0000; */

    /* цвет подчеркивания */
    /* text-decoration-color: #ff0000; */

    /* стиль подчеркивания */
    /* text-decoration-style: wavy; */

    font: italic bold 30px 'Times New Roman', Arial', Roboto', sans-serif;

    /* сброс рамки */
    border: unset;
}

/* специфичность  = 100 */
#text {
    /* color: green; */
}

.link {
    /* сброс размера шрифта */
    /* font-size: initial;  */

    /* наследуем цвет от родителя */
    color: inherit;

    /* убираем подчеркивание */
    text-decoration: none;
}

.article-heading {
    /* выравнивание текста по центру */
    text-align: center;

    /* font-size: 30px; */

    /* наследуем цвет рамки от родителя */
    /* border: inherit; */
}

.span {
    font-size: 40px;
    border: 5px solid red;
    background-color: #f1ebeb;
    padding: 20px;
    margin: 20px;
    width: 300px;
    height: 700px;

    /* превращаем span в блочный элемент */
    display: block;

}

.img {}

.container {}

.main-heading {}

.sub-heading {}

.footer-text {}